*{
	margin : 0;
	padding : 0;
	font-family: 'Questrial', sans-serif;
	color: #323C3C;

}
body{
	overflow-x: hidden;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/*Top menu design==========================================================*/
#forum_menu .container{

	width : 100%;
	background-color: #8C02A0;
	z-index: 3;
	position : fixed;
		height : 65px;

}
#forum_menu table{
	width : 100%;
	border-collapse: collapse;

}

#forum_menu table td{
/*	border : 1px solid black;*/
}
#forum_menu .logo{
	padding-top: 13px;
	padding-left: 10px;
}
#forum_menu .logo img{

	width : 100px;
	height : auto;
}

#forum_menu .title{
   width : 50%;
	text-align: left;
}
#forum_menu .title p{

	font-size : 18px;
		color : #01FE91;
	margin-left : 10px;

	
}

#forum_menu a{
	color : #01FE91;
	text-decoration: none;
}
#forum_menu .create{
	width : 70%;
	text-align: right;
	padding-top: 15px;
	padding-right: 15px;

}
#forum_menu .create p{

	font-size : 20px;
	color : #01FE91;
}
.create:hover{
	cursor: pointer;
}

/*signin_box design=================================================================*/

#signin_box .signin_btn{
	z-index : 2000;
	position: absolute;
	text-align: right;
	width : 10%;
	top : 25px;
	right: 15px;
}

#signin_box table{
	display: inline-block;
}

#signin_box table td{

	width : 100px;
	text-align: center;
}

#signin_box .profile_img{

	width : 60px;
	height : 60px;
	border-radius: 50%;
}
#signin_box .profile_img:hover{
	cursor: pointer;
}	

#cover .lnr-menu{
	display : none;
}


#signin_box .signout_popup a{

	color : white;
	font-size: 18px;
	text-decoration: none;
		
}

#signin_box .signin_popup a{

	color : white;
	font-size: 18px;
	text-decoration: none;
}

#signin_box a:hover{
	color: #FEF200;
}	

/*message board design====================================================*/
#forum_page .container{
	
	width : 100%;
	text-align: center;
	height : 550px;
	background-color: #FCF6FD;
}

#forum_page .body{

	display: inline-block;
	width : 80%;
	height: 400px;
	margin-top: 100px;
	text-align: center;
}

#forum_page .box{

	width : 100%;
	border : 1px solid #EDD7F2;
	display: block;
	margin-top: 3px;
}
.white{
	background-color: white;
}
.grey{

	background-color: #FCF6FD;
}

#forum_page .box:hover{
	background-color: #EDD9F1;
}	

#forum_page td{

}

#forum_page a{
	text-decoration: none;
}

#forum_page .image{

	width : 20%;
}

#forum_page .title{
	text-align: left;
	width : 57.2%;
	height : 30px;
	padding-left: 10px;
	line-height: 20px;
}

#forum_page .title a{
	text-decoration: none;
}	
#forum_page .posted_by{
	text-align: left;
	padding-left: 10px;
	font-size: 11px;
	color: grey;
}
#forum_page .posted_by li{
	list-style-type: none;
	display: inline-block;
}
#forum_page .author{
	color: #267FF1;
}
#forum_page .date{
	width : 32.8%;
	color: grey;
	text-align: right;
	padding-right: 10px; 
	font-size: 11px;
}

#forum_page .likes{
	color : grey;
	text-align: left;


}
#forum_page .likes span{

}
	
.red{
color: red;	
}

.blue{
 color: #267FF1;	
}

#forum_page .replies{
	color : grey;
	text-align: left;		
}
#forum_page .replies span{

}
/*pagination design
*/
.pagination{
	position : absolute;
	width : 100%;
	text-align: center;
	background-color: #FCF6FD;

}

.pagination .pagination_box{

	margin-top: 15px;
	text-align: center;
	padding-bottom: 20px;
}

.pagination a{
	display: inline-block;
	color :  #8C02A0;
	margin : 3px;
	text-decoration: none;
}

.pagination a:hover{
	color : #323C3C;

}

.underline{
	text-decoration: underline;
}

/*Message Popup design===================================================*/


#message_popup .container{
	width : 100%;
	text-align: center;
	position: fixed;
	top : 60px;
	display: none;
		z-index : 1000 ;
}
#message_popup .box{


	width : 100%;
	background-color: white;
display: inline-block;
	border-radius: 4px;
}
#message_popup table{
	width :100%;
	border-collapse: collapse;
}
#message_popup .title{

	background-color: #8C02A0;
	text-align: center;
	padding-left: 10%;
	height : 60px;
}
#message_popup .title h2{
	color : white;
}	

#message_popup .back{
	
	background-color: #8C02A0;
	width : 10%;
	font-size : 25px;
	padding-right: 3px;
	
}
#message_popup .back a{
	text-decoration: none;
}

#message_popup .back span{
color : white;
}	
#message_popup .back span:hover{
color : #01FE91;
}

#message_popup input[type=text]{

	width: 80%;
    padding: 12px 20px;
    margin-top : 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#message_popup textarea {
	width : 80%;
	padding: 12px 20px;

	margin-top: 10px;
	margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#message_popup input[type=submit] {	
    width: 100px;
    background-color: white;
    color: #8C02A0;
    margin-top: 10px;
    margin-bottom: 15px; 
    margin-right: 10%;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: center;
}

#message_popup .submit{
	text-align : right;
	border-top: 1px solid #EDD7F2;
}

/*Edit Popup design===================================================*/

#message_edit_popup .container{
	width : 100%;
	text-align: center;
	position: fixed;
	top : 60px;
	display: none;
		z-index : 1000 ;
}
#message_edit_popup .box{


	width : 100%;
	background-color: white;
display: inline-block;
	border-radius: 4px;
}
#message_edit_popup table{
	width :100%;
	border-collapse: collapse;
}
#message_edit_popup .title{

	background-color: #8C02A0;
	text-align: center;
	padding-left: 10%;
	height : 60px;
}
#message_edit_popup .title h2{
	color : white;
}	

#message_edit_popup .back{
	
	background-color: #8C02A0;
	width : 10%;
	font-size : 25px;
	padding-right: 3px;
	
}
#message_edit_popup .back a{
	text-decoration: none;
}

#message_edit_popup .back span{
color : white;
}	
#message_edit_popup .back span:hover{
color : #01FE91;
}

#message_edit_popup input[type=text]{

	width: 80%;
    padding: 12px 20px;
    margin-top : 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#message_edit_popup textarea {
	width : 80%;
	padding: 12px 20px;

	margin-top: 10px;
	margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#message_edit_popup input[type=submit] {	
    width: 100px;
    background-color: white;
    color: #8C02A0;
    margin-top: 10px;
    margin-bottom: 15px; 
    margin-right: 10%;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: center;
}

#message_edit_popup .submit{
	text-align : right;
	border-top: 1px solid #EDD7F2;
}
/*Delete Popup design===============================================================*/
#delete_popup .container{

	position: absolute;
	display: none;
	top : 85px;
	width : 100%;
	z-index : 5;
	text-align: center;
}

#delete_popup .box{

	border-collapse: collapse;
	display : inline-block;
	border-radius: 4px;

}

#delete_popup .title{

	background-color: #8C02A0;
	text-align: center;
	padding-left: 20%;
	width : 300px;
	height : 60px;
}
#delete_popup .title h2{
	color : white;
}	

#delete_popup .back{
	
	background-color: #8C02A0;
	width : 20%;
	font-size : 25px;
}

#delete_popup .back a{
	text-decoration: none;
}

#delete_popup .back span{
color : white;
}	
#delete_popup .back span:hover{
color : #01FE91;
}

#delete_popup .content{
	height : 100px;
	text-align: center;
	background-color: white;

}
#delete_popup .content a{
	text-decoration: none;
	color: #8C02A0;
}

/*Comment_box popup design=================================================*/

#comment_box .container{
	position : absolute;
	top : 95px;
	width : 100%;
	height : 90%;
	background-color: #FCF6FD;
	text-align: center;
	word-wrap: break-word;

}
#comment_box table{
	table-layout: fixed;
}

#comment_box .forum_table{

display: inline-block;

	width : 90%;

	border: 1px solid #EDD7F2;
	background-color: white;
	border-collapse: collapse;
	z-index : 3;
}

/*#comment_box td{
	border : 1px solid black;
}*/

#comment_box .head{
	background-color: #FCF6FD;
	text-align: left;

}

#comment_box .image_box{
	
	width: 15%;
	padding-left:10px;
	
}

#comment_box .title_box{

	padding-left: 10px;
	font-size: 18px;
	width : 60%;
	height: 35px;


}
#comment_box .posted_box{
	padding-top: 7px;
	padding-left: 10px;
	font-size: 10px;
	width : 18%;
	color: grey;

}
#comment_box .author_box{
	width : 43%;
	padding-top: 7px;
	padding-left: 2px;
	font-size: 12px;
	color: #267FF1;
}

#comment_box .date_box{
	width : 30%;
	padding-top: 7px;
	font-size: 12px;
	color : grey;
	text-align: left;

}
#comment_box .likes_box span{
	font-size: 16px;
	padding-left: 2px;
	color: #267FF1;
	
}

#comment_box .likes_box a{
text-decoration : none;
}
#comment_box .likes_box span:hover{
	cursor: pointer;
}	

#comment_box .content_box{
	width : 80%;
	word-wrap: break-word;
	padding-left : 10px;
	padding-right : 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #EDD7F2;
	line-height: 20px;
	height : 100px;
	
	
}
#comment_box .back_box{
	padding-top: 2px;
	padding-right: 1px;
	width :5%;
	text-align : center;
	background-color: grey;
}

#comment_box .back_box a{
	
	font-size: 15px;
	text-decoration: none;
}

#comment_box .back_box span{
	color : white;
}

#comment_box input[type=text]{

	width: 90%;
	height: 38px;
    padding: 12px 20px;
    margin-top : 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

#comment_box .reply{

	border-top : 1px solid #EDD7F2;

}
#comment_box .comment_author{
	text-align : left;
	color: #267FF1;
	font-size : 10px;
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 30px;
	padding-bottom: 3px;
}

#comment_box .comment_text{
	text-align: left;
	font-size : 15px;
	padding-left: 10px;
	padding-right: 30px;
	padding-bottom: 5px;
}
#comment_box .comment_likes{
	
	width : 70%;
	font-size : 13px;
	padding-left: 10px;
	padding-right: 30px;
	padding-bottom: 5px;
}
#comment_box .comment_date{
	width : 30%;
	padding-top: 7px;
	font-size: 10px;
	color : grey;
	text-align: left;
}

/*Footer design============================================================*/

footer .container {

	padding-bottom: 17px;
	background-color: white;
	width : 100%;
	text-align: center;
}

footer .container ul{
	
	display: inline-block;
	width : 40%;
	margin-top: 57px;
	text-align: center;
}

footer ul li{

	margin : 7px;
	font-size: 9px;
	list-style-type: none;
	display : inline-block; 
}

.profile_img{

	width : 49px;
	height : 49px;
	border-radius: 50%;
	margin-top :3px;	
}
.profile_img2{

	width : 35px;
	height : 35px;
	border-radius: 50%;
	margin-top :3px;	
}
